{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<html>
<body>
	<div id="search_form">
		<h3 >Enter Username and Password:</h3>
		<form  method="post" action="">
	
			{% csrf_token %}
			Username: <input type="text" name="username" value="" />
            <br/>
            Password: <input type="password" name="password" value="" />
            <br/>
	
		<input type = "submit" value = "Submit" />
	</form>
	</div>
</body>
</html>
