{% load staticfiles %}
<script src="{% static "/js/jquery.js" %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<html>
<body>
	<div id="search_form">
	<h3 >Enter the Following Fields:</h3>
	
	<form method="post" action="">
	<ul>
		{% csrf_token %}
		{{ form.as_ul }}
	</ul>
		<input type = "submit" value = "Search" />
	</form>
	</div>
</body>
</html>