{% load staticfiles %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="{% static 'tax_photo_entry/delete.js' %}" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />

<html>
<head>
	<title></title>
</head>
<body>
<p><a class = "back_home" href="{% url 'welcome_view' %}">Return Home</a></p>
{% if to_delete %}
    <table border = '1' >
    	<tr>
    		<td>Unique Photo Id</td>
    		<td>Generated Photo Id</td>
    		<td>Borough</td>
    		<td>Block</td>
    		<td>Lot</td>
    		<td>Building Number</td>
    		<td>Street Number</td>
    		<td>Zip Code</td>
    		<td>Lot Frontage</td>
    		<td>Lot Depth</td>
    		<td>Year Build</td>
    		<td>Year Altered One</td>
    		<td>Year Altered Two</td>
    		<td>Date</td>

    	</tr>
    {% for photo in to_delete%}
    	<tr>
    		<td>{{ photo.auto_photo_id }}</td>
    		<td>{{ photo.photo_identifier }}</td>
    		<td>{{ photo.borough }}</td>
    		<td>{{ photo.block }}</td>
    		<td>{{ photo.lot }}</td>
    		<td>{{ photo.building_number }}</td>
    		<td>{{ photo.street_name }}</td>
    		<td>{{ photo.zip_code }}</td>
    		<td>{{ photo.lot_frontage}}</td>
    		<td>{{ photo.lot_depth }}</td>
    		<td>{{ photo.year_built }}</td>
    		<td>{{ photo.year_altered_one }}</td>
    		<td>{{ photo.year_altered_two}}</td>
    		<td>{{ photo.date }}</td>
    		<td><button class = "delete_button" id = {{ photo.auto_photo_id }}>Confirm</button></td>
            <td><button class = "ignore_delete" id = {{ photo.auto_photo_id }}>Ignore</button></td>

    	</tr>
        
    {% endfor %}
    </table>
{% else %}
    <p>Nothing currently marked for deletion.</p>
{% endif %}


</body>
</html>